<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="recipe-content-blocks">
            <directory>vendor/dnadesign/silverstripe-elemental/tests</directory>
            <directory>vendor/silverstripe/elemental-fileblock/tests</directory>
            <directory>vendor/silverstripe/elemental-bannerblock/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
